name: ci

on:
  push:
    branches:
      - 'master'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Docker build
        run: |
          docker build -t docker.pkg.github.com/kadhonn/cd-dws/chat .
          docker push docker.pkg.github.com/kadhonn/cd-dws/chat
		  
      - 
        name: redeploy docker container
        uses: appleboy/ssh-action@master
        with:
          host: abl.dws.coderdojo.net
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 22
          script: whoami